@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18182;
  background-color: #FFFFFF;
  color: #333333;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-inner {
  flex-grow: 1;
}

.header-main {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0 70px;
  justify-content: space-between;
  margin-bottom: -6px;
}

.navigation {
  min-width: 890px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page-header-logo {
  display: block;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 500px;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.button {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  min-height: 36px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link {
  padding: 20px 16px 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-list + .navigation-user-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  list-style-type: none;
}

.navigation-user-list .navigation-item:nth-child(1) {
  margin-right: 10px;
}

.navigation-user-list .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-list .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user-list .navigation-item .navigation-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  padding: 10px;
}

.navigation-link-button {
  background-color: #756157;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 50px;
  min-height: 100%;
}

.hero {
  background-color: blue ;
  background-image: url(../images/background/background-index.jpg);
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  min-height: 485px;
  text-align: center;
}

.logo {
  margin: 51px 371px 82px;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  text-align: center;
  width: 1200px;
}

.intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  width: 620px;
}

.intro-description {
  margin: 0;
}

.advantages {
  width: 1200px;
  text-align: center;
  line-height: 1.16667;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}

.advantages-container {
  margin: 0 auto;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item {
  display: flex;
  align-items: center;
  min-width: 400px;
  min-height: 385px;
}

.advantages-item-image {
  width: 1200px;
}

.advantages-item:nth-child(5) .advantages-image {
  order: -1;
}

.advantages-title {
  padding: 0 ;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
  max-width: 175px;
}

.advantages-description {
  font-size: 18px;
  margin: 0;
}

.advantages-item {
  background-color: #82B3D3;
}

.advantages-item:nth-child(1), .advantages-item:nth-child(5) {
  color: #FFFFFF;
}

.advantages-item:nth-child(2), .advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.represent {
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  text-align: center;
}

.represent-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  width: 505px;
}

.represent-description {
  margin: 0;
}

.recommendations {
  text-align: center;
  line-height: 1.16667;
  font-size: 18px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1200px;
  list-style-type: none;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  padding: 81px 85px;
}

.recommendations-item:nth-child(1), .recommendations-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.recommendations-description {
  margin: 0;
}

.search-hotel {
  text-align: center;
  width: 1200px;
}

.search-hotel-container {
  padding: 96px 304px;
}

.search-hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #756157;
}

.subscribe {
  background-color: blue;
  background-image: url(../images/background/background-subscribe.jpg);
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 685px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  max-width: 475px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #82B3D3;
}

.page-foother {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.foother-number {
  color: #000000;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
  max-width: 700px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  text-decoration: none;
  width: 47px;
  height: 40px;
}

.logo-academy {
  width: 115px;
  height: 33px;
}

.subscribe-catalog {
  text-align: center;
}

.filter {
  background-color: blue;
  background-image: url(../images/background/background-filter.jpg);
  background-repeat: no-repeat;
  min-height: 412px;
  padding: 35px 70px;
  background-size: cover;
  color: #FFFFFF;
  width: 1200px;
}

.filter-container .filter {
  display: flex;
  flex-direction: column;
}

.filter-container {
  width: 1060px;
}

.breadcrumbs-link {
  margin-right: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 1.3125;
}

.breadcrumbs-item-home {
  display: flex;
  align-self: center;
}

.catalog-products {
  width: 1200px;
  padding: 50px 70px 60px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.catalog-filter-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 160px;
}

.catalog-filter-infrastructure-container {
  display: flex;
  flex-direction: row;
  width: 370px;
}

.catalog-filter-price-container {
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.control {
  font-size: 18px;
  line-height: 1.27778;
}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
}

.button-submit {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.select-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1060px;
}

.select-button-catalog-container {
  display: flex;
  align-items: center;
}

.search-hotel-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.object-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: #E6E6E6 1px solid;
  margin-bottom: 40px;
  list-style-type: none;
}

.object-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.object-card:nth-child(3n) {
  margin-right: 0;
}

.object-card-link {
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}

.object-card-image {
  display: block;
  order: -1;
  margin-bottom: 16px;
}

.object-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin: 0;
}

.object-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  margin-top: 0;
  margin-bottom: 16px;
}

.object-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  margin-top: 0;
  margin-bottom: 16px;
}

.object-card-button {
  padding: 8px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  min-height: 0;
}

.button-current {
  background-color: #7DB54F;
  display: inline-block;
  font-family: inherit;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  min-height: 36px;
  border: none;
  cursor: pointer;
}

.object-card-button-favourites {
  background-color: #82B3D3;
}

.object-rating {
  border-radius: 4px;
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 400px;
}

.button-catalog-list {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-catalog {
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  width: 60px;
  padding: 12px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control {
  font-family: inherit;
  width: 292px;
  font-weight: 400;
  border: 2px solid #E5E5E5;
  font-size: 18px;
  line-height: 1.16667;
  margin-right: 70px;
  border-radius: 4px;
  padding: 14px 20px;
}

.form-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
