@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18182;
  background-color: #E6E6E6;
  color: #333333;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-inner {
  flex-grow: 1;
}

.header-main {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0 70px;
  justify-content: space-between;
  margin-bottom: -6px;
}

.navigation {
  min-width: 890px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page-header-logo {
  display: block;
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 500px;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.button {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  min-height: 36px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}



.navigation-link {
  padding: 0 0 14px 0;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-list .navigation-item {
  padding: 0 16px 0 16px;
}

.navigation-list + .navigation-user-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  list-style-type: none;
}

.navigation-user-list .navigation-item:nth-child(1) {
  margin-right: 10px;
}

.navigation-user-list .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-list .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user-list .navigation-item .navigation-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  padding: 10px;
}

.navigation-user-list .navigation-item:nth-child(1) .navigation-link {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-list .navigation-item:nth-child(2) .navigation-link {
  background-image: url(../images/icons/favorites.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.navigation-link-button {
  background-color: #756157;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 50px;
  min-height: 100%;
}

.hero {
  background-color: blue ;
  background-image: url(../images/background/background-index.jpg);
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  min-height: 485px;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 88.04%, 80% 94.06%, 80% 88.04%, 50% 100%, 20% 88.04%, 20% 94.06%, 0% 88.04%);
}

.logo {
  margin: 51px 371px 82px;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  text-align: center;
  width: 1200px;
}

.intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  width: 620px;
}

.intro-description {
  margin: 0;
}

.likes {
  position: relative;
}

.likes span {
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #FFFFFF;
  background-size: 20px 20px;
  background-color: #7DB54F;
  border-radius: 100vw;
  padding: 5px;
  position: absolute;
  right: 3px;
}

.advantages {
  width: 1200px;
  text-align: center;
  line-height: 1.16667;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}

.advantages-container {
  margin: 0 auto;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item {
  display: flex;
  align-items: center;
  min-width: 400px;
  min-height: 385px;
}

.advantages-item-image {
  width: 1200px;
}

.advantages-item:nth-child(5) .advantages-image {
  order: -1;
}

.advantages-title {
  padding: 0 ;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 175px;
}

.advantages-title::after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 30px auto 0;
}

.advantages-item-image .advantages-title::after {
    background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-size: 18px;
  margin: 0;
}

.advantages-item {
  background-color: #82B3D3;
}

.advantages-item:nth-child(1), .advantages-item:nth-child(5) {
  color: #FFFFFF;
}

.advantages-item:nth-child(2), .advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.represent {
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  text-align: center;
}

.represent-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  width: 505px;
}

.represent-description {
  margin: 0;
}

.recommendations {
  text-align: center;
  line-height: 1.16667;
  font-size: 18px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1200px;
  list-style-type: none;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.recommendations-item:nth-child(1)::before {
  content: url(../images/icons/home.svg);
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}

.recommendations-item:nth-child(2)::before {
  content: url(../images/icons/food.svg);
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}

.recommendations-item:nth-child(3)::before {
  content: url(../images/icons/souvenirs.svg);
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}

.recommendations-item:nth-child(1), .recommendations-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.recommendations-description {
  margin: 0;
}

.search-hotel {
  text-align: center;
  width: 1200px;
}

.search-hotel-container {
  padding: 96px 304px;
}

.search-hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #756157;
}

.subscribe {
  background-color: blue;
  background-image: url(../images/background/background-subscribe.jpg);
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 685px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  max-width: 475px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 684px;
  box-sizing: border-box;
}

.subscribe-form button {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.subscribe-form input {
  width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-form input:hover {
  background-color: #E6E6E6;
}

.subscribe-form input:focus {
  outline: 3px solid #83B3D3;
}

.page-foother {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.foother-number {
  color: #000000;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
  max-width: 700px;
}

.foother-number:hover {
  color: #756157;
}

.foother-number:focus {
  color: #756157;
}

.foother-number:active {
  color: #756157;
  opacity: .3;
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 142px;
  list-style-type: none;
  justify-content: space-between;
}

.social-link {
  display: block;
  text-decoration: none;
  width: 47px;
  height: 40px;
  padding: 10px;
}

.logo-telegram {
  fill: #83B3D3;
}

.logo-telegram:hover {
  fill: #68A2CA;
}

.logo-telegram:focus {
  fill: #68A2CA;
}

.logo-telegram:active {
  fill: #68A2CA;
  opacity: .3;
}

.logo-vkontakte {
  fill: #83B3D3;
}

.logo-vkontakte:hover {
  fill: #68A2CA;
}

.logo-vkontakte:focus {
  fill: #68A2CA;
}

.logo-vkontakte:active {
  fill: #68A2CA;
  opacity: .3;
}

.logo-youtube {
  fill: #83B3D3;
}

.logo-youtube:hover {
  fill: #68A2CA;
}

.logo-youtube:focus {
  fill: #68A2CA;
}

.logo-youtube:active {
  fill: #68A2CA;
  opacity: .3;
}

.logo-academy {
  width: 115px;
  height: 33px;
}

.htmlacademy-link {
  text-decoration: none;
}

.logo-academy-svg {
  display: block;
  width: 115px;
  height: 33px;
  fill: #000000;
}

.logo-academy-svg:hover {
  fill: #756157;
}

.logo-academy-svg:focus {
  fill: #756157;
}

.logo-academy-svg:active {
  fill: #756157;
  opacity: .3;
}

.subscribe-catalog {
  text-align: center;
}

.filter {
  background-color: blue;
  background-image: url(../images/background/background-filter.jpg);
  background-repeat: no-repeat;
  min-height: 412px;
  padding: 35px 70px;
  background-size: cover;
  color: #FFFFFF;
  width: 1200px;
}

.filter-container .filter {
  display: flex;
  flex-direction: column;
}

.filter-container {
  width: 1060px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 1.3125;
}

.breadcrumbs-item-home {
  display: flex;
  align-items: center;
}

.catalog-products {
  width: 1200px;
  padding: 50px 70px 60px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 32px;
  margin-top: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 16px;
}

.catalog-filter-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* height: 160px; */
}

.catalog-filter-infrastructure-container {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  min-width: 370px;
}

.catalog-filter-infrastructure,
.catalog-filter-type {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-price-container {
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.catalog-filter-price-container fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.range-wrapper-inputs {
  margin-bottom: 46px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input {
  position: relative;
  width: 143px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.range-toggle:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 2px solid #83B3D3;
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -5px;
}

.toggle-max {
  top: -8px;
  right: -5px;
}

.catalog-filter-lable {
  position: relative;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
}

.button-submit {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.select-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1060px;
}

.select-button-catalog-container {
  display: flex;
  align-items: center;
}

.search-hotel-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.range-wrapper-inputs-text {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.object-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  border-bottom: #E6E6E6 1px solid;
  margin-bottom: 40px;
  list-style-type: none;
}

.object-card {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.object-card-link {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
}

.object-card-image {
  display: block;
  order: -1;
  object-fit: contain;
  margin-bottom: 16px;
}

.object-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin: 0;
}

.object-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
}

.object-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  justify-self: end;
}

.object-card-button {
  padding: 8px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  min-height: 0;
}

.object-card-button-favourites {
  background-color: #82B3D3;
}

.object-card-button-favourites-current {
  background-color: #7DB54F;
}

.object-rating {
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 400px;
}

.button-catalog-list {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-catalog {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.button-catalog-highlighted {
  border-color: #000000;
}

.button-catalog:hover {
  border-color: #000000;
}

.button-catalog:focus {
  outline: 2px solid #82B3D3;
}

.button-catalog-highlighted {
  border-color: #000000;
}

.button-catalog:active {
  border-color: #000000;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  min-width: 60px;
  padding: 12px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
 background-color: #68A2CA;
}

.pagination-link:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control {
  margin-right: 70px;
  display: flex;
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  background-image: url(../images/catalog-view/arrow.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.form-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.object-card-button:hover,
.button-search:hover,
.navigation-link-button:hover {
  background-color: #615048;
}

.object-card-button:focus,
.button-search:focus,
.navigation-link-button:focus {
  background-color: #615048;
}

.object-card-button:active,
.button-search:active,
.navigation-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.object-card-button:disabled,
.button-search:disabled,
.navigation-link-button:disabled {
  background-color: #E5E5E5;
}

.object-card-button-favourites:hover,
.button-submit:hover,
.button-subscribe:hover {
  background-color: #68A2CA;
}

.object-card-button-favourites:focus,
.button-submit:focus,
.button-subscribe:focus {
  background-color: #68A2CA;
}

.object-card-button-favourites:active,
.button-submit:active,
.button-subscribe:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.object-card-button-favourites:disabled,
.button-submit:disabled,
.button-subscribe:disabled {
  background-color: #E5E5E5;
}

.object-card-button-favourites-current:hover {
  background-color: #6C9E42;
}

.object-card-button-favourites-current:focus {
  background-color: #6C9E42;
}

.object-card-button-favourites-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.object-card-button-favourites-current:disabled {
  background-color: #E5E5E5;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  border: 2px solid #83B3D3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.breadcrumbs-link-home {
  display: block;
  width: 12px;
  height: 12px;
  padding: 1px;
  background-image: url(../images/breadcrubs/breadcrubs-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  margin: 0 10px;
  background-image: url("../images/breadcrubs/breadcrubs-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.stars-container {
  position: relative;
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.stars-active {
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 17px;
}
